nav a.back, nav a.back:visited {
    color: var(--color-gray-600);
    width: var(--spacing-24);
    height: var(--spacing-24);
    margin-left: -8px;
    transition: all 0.5s ease;
}

nav a.back:hover, nav a.back:focus {
    color: var(--color-blue-600);
    transform: scale(0.9);
}

nav .horizontal-stepper {
    width: calc(100% - var(--spacing-24));
}

.card {
    margin-right: var(--spacing-32);
    margin-left: var(--spacing-32);
}

html[data-theme="blv"] .card.p-16 {
    padding: var(--spacing-16);
}

html[data-theme="blv"] .card.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

/*
html[data-theme="blv"]  {
    font-size: var(--font-size-xs);
    color: var(--color-gray-600);
    text-transform: uppercase;
}
*/

.horizontal-stepper .section {display: none;}