<div id="contents" data-drawer data-drawer-position="right" data-drawer-size="medium">
    <div class="drawer__header">
        <h3 class="drawer__title">Navigation</h3>
        <button class="drawer__close" aria-label="Close drawer">
            <span class="heroicon heroicon-x-mark"></span>
        </button>
    </div>
    
    <div class="drawer__content">
        <ul class="bulleted sitemap">
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/01/">01 &ndash; Highlights</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/02/">02 &ndash; What to Expect</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/03/">03 &ndash; Legal Agreements &amp; Consents</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/04/">04 &ndash; The Curative Cash Card</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/05/">05 &ndash; Mental Health Isn't An Extra</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/06/">06 &ndash; Your Care Team</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/07/">07 &ndash; Your Go-To Facilities</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/08/">08 &ndash; Your Pharmacy and Medications</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/09/">09 &ndash; Your Screenings</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/10/">10 &ndash; Ongoing Support for Your Health</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/11/">11 &ndash; Health Services Used</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/12/">12 &ndash; Barriers to Care</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/13/">13 &ndash; Procedures &amp; Surgeries</a></li>
            <li><a href="{{ '/' | url }}prototypes/blv/renewal/14/">14 &ndash; Clinical scheduling</a></li>
        </ul>
    </div>
</div>