<ol class="horizontal-stepper" data-testid="HorizontalStepper">
    <li class="horizontal-stepper__step horizontal-stepper__step--first">
        <div class="horizontal-stepper__progress" style="width: 100%;"></div>
    </li>
    <li class="horizontal-stepper__step">
        <div class="horizontal-stepper__progress horizontal-stepper__progress--partial" style="width: 50%;"></div>
    </li>
    <li class="horizontal-stepper__step">
        <div class="horizontal-stepper__progress" style="width: 0%;"></div>
    </li>
    <li class="horizontal-stepper__step horizontal-stepper__step--last">
        <div class="horizontal-stepper__progress" style="width: 0%;"></div>
    </li>
</ol>