<aside>
    <nav>
        
    <h2>Foundation</h2>

    <a href="{{ '/' | url }}foundation/color/">Color</a>
    <a href="{{ '/' | url }}foundation/typography/">Typography</a>
    <a href="{{ '/' | url }}foundation/spacing/">Spacing</a>
    <a href="{{ '/' | url }}foundation/display/">Display</a>
    <a href="{{ '/' | url }}foundation/icons/">Icons</a>
    

    <h2>Components</h2>
    <a href="{{ '/' | url }}components/accordion/">Accordion</a>
    <a href="{{ '/' | url }}components/alert/">Alert</a>
    <a href="{{ '/' | url }}components/badge/">Badge</a>
    <a href="{{ '/' | url }}components/banner/">Banner</a>
    <a href="{{ '/' | url }}components/button/">Button</a>
    <a href="{{ '/' | url }}components/card/">Card</a>
    <a href="{{ '/' | url }}components/checkbox/">Checkbox</a>
    <a href="{{ '/' | url }}components/logo/">Logo</a>
    <a href="{{ '/' | url }}components/min-max-progress-bar/">Min Max Progress Bar</a>
    <a href="{{ '/' | url }}components/modal/">Modal</a>
    <a href="{{ '/' | url }}components/radio/">Radio</a>
    <a href="{{ '/' | url }}components/select/">Select</a>
    <a href="{{ '/' | url }}components/table/">Table</a>
    <a href="{{ '/' | url }}components/textfield/">Textfield</a>
    <a href="{{ '/' | url }}components/toggle/">Toggle</a>


    </nav>
</aside>