<aside>
    <nav>
        
    <h2>Foundation</h2>

    <a href="{{ '/' | url }}foundation/color/">Color</a>
    <a href="{{ '/' | url }}foundation/typography/">Typography</a>
    <a href="{{ '/' | url }}foundation/spacing/">Spacing</a>
    <a href="{{ '/' | url }}foundation/display/">Display</a>
    <a href="{{ '/' | url }}foundation/icons/">Icons</a>
    

    <h2>Components</h2>

    <a href="{{ '/' | url }}components/textfield/">Textfield</a>
    <a href="{{ '/' | url }}components/button/">Button</a>


    </nav>
</aside>