<div class="titleblock flex-column">

        <div class="project flex-row">
            Swage.css Prototyping library
        </div>
        <div class="team flex-row">
        <div>    
            Design Team
        </div>
        <div>
            Product 
        </div>
        </div>
        <div class="descr flex-row">
            <a class="colophon mr-8" href="https://github.com/curative/swage">
                <img src="{{ '/' | url }}src/img/github.png" alt="Velum github repo">
           </a> <span>{{ page.inputPath | getGitCommitDateFromPath }}</span>
        </div>

</div>

