@import url(overrides.css);

:root {
    --blv-width: 900px;
    --blv-border: #F0F1F2;
    --blv-base: rgba(255, 255, 255, 0.5);
    --blv-bg: rgba(255, 255, 255, 0.1);
    --blv-shadow: 0 2px 16px 0 rgba(102, 114, 125, 0.25), 0 4px 200px 0 rgba(255, 255, 255, 0.01) inset;
    --swage-shadow-reverse: 0 -2px 16px 0 rgba(0, 0, 0, 0.10), 0 4px 200px 0 rgba(255, 255, 255, 0.01) inset;
}


/* #region Defaults */
html[data-theme="blv"] body {
    background-image: url(img/waves.svg);
    background-position: -1260px 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 1px 0 var(--color-white);
}
/* #endregion */


/* #region Layout */
html, body {
    height: 100%;
    margin: 0;
  }

.wrap { 
display: flex;
flex-direction: column;
justify-content: center;
min-height: 100vh; 
}

.container, article {
    width: var(--blv-width);
}

header {
    background: var(--color-white);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--blv-border);
    backdrop-filter: blur(8px);
  }

    header .container, footer .container {
        padding: 0 var(--spacing-16);
        align-self: center;
    }

    header .logo {
        height: 60px;
        display: flex;
        align-items: center;
    }

  main { 
    display: flex;
    justify-content: center;
    flex: 1; 
    overflow-y: auto; 
  }

  footer {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: var(--swage-shadow-reverse);
    border-top: 1px solid var(--color-white);
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    backdrop-filter: blur(8px);
  }

    footer .button {
        align-self: center;
    }

        footer .button svg {
            width: 24px;
            height: 24px;
        }
/* #endregion */

/* #region Nav */
html[data-theme="blv"] nav {
    height: 40px;
    border-top: 1px solid var(--blv-border);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */

/* #region Content */
article {
    background: var(--blv-base);
    border-right: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
    padding: var(--spacing-24) var(--spacing-32) 96px var(--spacing-32); 
}

.constrain {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.constrain-80 {width: 80%;}
.constrain-60 {width: 60%;}
.constrain-40 {width: 40%;}
.constrain-33 {width: 33%;}
.constrain-20 {width: 20%;}

h1 {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-24);
}

h2 {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-8);
}

h3 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-8);
}

h2 + .card {
    margin-top: 0;
}

h3 + .card {
    margin-top: 0;
}

.card p + p {
    padding-top: var(--spacing-16);
}
/* #endregion */

/* #region Utilities */
.rotate-5 {transform: rotate(-5deg);}
.rotate-15 {transform: rotate(-15deg);}
.rotate-30 {transform: rotate(-30deg);}
.rotate-45 {transform: rotate(45deg);}

/* #endregion */

.tile-mini {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    border: 1px solid var(--color-white);
    border-radius: 4px;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semibold);
}