nav a.back, nav a.back:visited {
    color: var(--color-gray-600);
    width: var(--spacing-24);
    height: var(--spacing-24);
    margin-left: -8px;
    transition: all 0.5s ease;
}

nav a.back:hover, nav a.back:focus {
    color: var(--color-blue-600);
    transform: scale(0.9);
}

nav .horizontal-stepper {
    width: calc(100% - var(--spacing-24));
    gap: 4px;
}

.card {
    margin-right: var(--spacing-32);
    margin-left: var(--spacing-32);
}

@media (max-width: 768px) {
    .card {
    margin-right: 0;
    margin-left: 0;
}
}

html[data-theme="blv"] .card.p-16 {
    padding: var(--spacing-16);
}

html[data-theme="blv"] .card.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.tile--in-network .badge--success {
    background-color: var(--color-green-800);
    color: var(--color-white);
    text-shadow: none;
}

.tile--cash-card .badge--warning {
    background-color: var(--color-primary-signal-orange);
    color: var(--color-white);
    text-shadow: none;
}

.tile--not-listed .badge--info {
    background-color: var(--color-foundation-primary);
    color: var(--color-white);
    text-shadow: none;
}

/*
html[data-theme="blv"]  {
    font-size: var(--font-size-xs);
    color: var(--color-gray-600);
    text-transform: uppercase;
}
*/

header {
    height: auto;
    padding-bottom: 16px;
}

html[data-theme="blv"] nav {
    padding-top: 16px;
}

nav a.back, nav a.back:visited {transform: translateY(-4px);}

nav a.back:hover, nav a.back:focus {transform: translateY(-4px);}


.horizontal-stepper__step {
    display: block !important;
    height: auto !important;
    flex-direction: column;
    background-color: transparent !important;
    gap: 8px;
}

    .horizontal-stepper__step .stepper-wrap {
        display: flex !important;
        flex: 1;
        height: var(--spacing-6) !important;
        overflow: hidden;
        background-color: var(--color-surface-neutral) !important;
        position: relative;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .horizontal-stepper .section {
        color: var(--color-gray-600);
        font-size: 10px;
        line-height: var(--line-height-xs);
        text-transform: uppercase;
        padding: 2px 0 0 4px;
    }

    .horizontal-stepper .section.section-active {
        color: var(--color-neutral-black);
        font-weight: var(--font-weight-600);
    }

    .horizontal-stepper .section.section-complete {
        color: var(--color-gray-300);
        text-decoration: line-through;
    }

    @media (max-width: 768px) { 
          .horizontal-stepper .section {
              display : none;
          }
    }

    .checkbox__input[type="checkbox"] {
        flex-basis: 24px;
        min-width: 24px;
        max-width: 24px;
    }

    .pretty {
        text-wrap: pretty;
    }

    .medications-summary .tile  {
        padding: 24px 16px
    }

    #summary .button {display: none;}

    .alternates button.button--small-outline {
        padding: 4px 8px;
        font-size: var(--font-size-xs);
        color: var(--color-gray-600);
        border-color: var(--color-gray-600);
    }

    .alternates button.button--small-outline.active {
        background-color: var(--color-purple-200);
        color: var(--color-purple-900);
        border-color: var(--color-purple-900);
    }


html[data-theme="blv"] .card.noshadow {
    box-shadow: none !important;}

    .status {display: none}