<aside>
    <nav>
        <a class="logo" href="{{ '/' | url }}"><img src="{{ '/' | url }}src/img/logo-orange.svg" alt="Curative">
       
        </a>


        
        <!--
        <h2>About</h2>
        <a href="{{ '/' | url }}">Introduction</a>
        <a href="{{ '/' | url }}about/accessibility/">Accessibility</a>
        <a href="{{ '/' | url }}about/roadmap/">Roadmap</a>
        <a href="{{ '/' | url }}about/contributing/">Contributing</a>

        <h2>Design</h2>
        <a href="{{ '/' | url }}design/color/">Color</a>
        <a href="{{ '/' | url }}design/spacing/">Spacing</a>
        <a href="{{ '/' | url }}design/typography/">Typography</a>
        <a href="{{ '/' | url }}design/iconography/">Iconography</a>

        <h2>Utilities</h2>
        <a href="{{ '/' | url }}utilities/padding/">Padding</a>
        <a href="{{ '/' | url }}utilities/margin/">Margin</a>
        <a href="{{ '/' | url }}utilities/borders/">Borders</a>
        <a href="{{ '/' | url }}utilities/flexbox/">Flexbox</a>
        <a href="{{ '/' | url }}utilities/grid/">Grid</a>
        <a href="{{ '/' | url }}utilities/helpers/">Helpers</a>-->
    </nav>
</aside>